[core]
	pager = delta
[fetch]
	prune = true
[alias]
	au = add --update
	br = branch
	c = commit
	ca = commit --amend
	can = commit --amend --no-edit
	cm = commit -m
	co = checkout
	develop = checkout develop
	dh = diff HEAD
	dhh = diff HEAD^ HEAD
	l = log --oneline -20
	ll = "!f() { COLS=$(tput cols); git log --date=human --format=\"%C(auto)%h%<($((COLS-8)),trunc)%d%n%Cgreen%<(12,trunc)%ar%Creset %Cblue%<(20,trunc)%an%Creset %<($((COLS-34)),trunc)%s\" $1; }; f"
	ra = rebase --abort
	rc = rebase --continue
	rhu = reset --hard @{u}
	ri = rebase -i
	rih = "!f() { git rebase -i HEAD~$1; }; f"
	sm = stash push -m
	st = status
[delta]
	line-numbers = true
[diff]
	colorMoved = default
[rerere]
	enabled = true
[includeIf "gitdir:~/code/personal/"]
	path = .personal.inc
[includeIf "gitdir:~/code/work/"]
	path = .work.inc
