[core]
	pager = delta
[alias]
	br = branch
	c = commit
	ca = commit --amend
	can = commit --amend --no-edit
	cm = commit -m
	co = checkout
	develop = checkout develop
	ra = rebase --abort
	rc = rebase --continue
	ri = rebase -i
	rih = "!f() { git rebase -i HEAD~$1; }; f"
	sm = stash push -m
	st = status
[delta]
	line-numbers = true
[diff]
	colorMoved = default
[rerere]
	enabled = true
[includeIf "gitdir:~/code/personal/"]
    path = personal.inc
[includeIf "gitdir:~/code/work/"]
    path = work.inc
